/* ---TODO---
* fix non-banner-slant modal profiles
X ~~fix modal profile buttons on extended sidebars~~
*/

    /*fun fact: this fixes discord's own mistake in the normal client. fun!*/
.animatorLeft_faf9c0 {
    transition: none !important;
    transform: none !important;
}

/*.outer_c0bea0.user-profile-popout {
    box-shadow: var(--shadow-high);
    border: 1px solid var(--_aider-border-dark);

    .inner_c0bea0 {
        overflow: visible;
        background: transparent;

        &::after {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 0;
            pointer-events: none;
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;
            box-shadow:
                inset 0px 3px 3px -2px rgba(255, 255, 255, 0.125),
                inset 0px 0px 0px 1px rgba(255, 255, 255, 0.0625),
                inset 0px 24px 12px -12px rgba(255, 255, 255, 0.0625),
                inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
        }

        div:has(>.displayNameRow__26b1f) {
            display: contents;
        }

        .displayNameRow__26b1f {
            position: absolute;
            bottom: calc(100% + var(--space-xs));
            margin-left: calc(80px + var(--space-xxs));
        }

        .usernameAndPronounsRow__26b1f {
            margin-left: calc(80px + var(--space-xxs));
            margin-bottom: var(--space-xxs);
            top: calc(0px - var(--space-xs));
        }

        .body__5be3e {
            overflow: visible !important;
            margin-top: calc(0px - 35px);
        }
    }

    .avatar__75742 {
        top: calc(var(--custom-user-profile-banner-height) - 45px);
        z-index: 1;
    }

    .container_ab8609,
    .referenceContainer_ab8609 {
        position: absolute;
        top: calc(0px - var(--custom-user-profile-banner-height) * 0.95);
        left: -10px;
        z-index: 1;
        filter: drop-shadow(0 0 0 1px var(--_aider-border-dark));
        background: var(--_aider-gradient-subtitle) !important;
        box-shadow: 0px 0px 0px 1px inset var(--border-subtle);

        .outer_ab8609 {
            background: transparent !important;

            &::before {
                top: unset;
                bottom: -12px;
                left: 0;
                box-shadow: inset 1px 0 var(--border-subtle);
                background: var(--background-base-lower);
            }

            &::after {
                top: unset;
                bottom: -32px;
                left: 15px;
                box-shadow: inset 0 0 0 1px var(--border-subtle);
                background: var(--background-base-lower);
            }

            .inner_ab8609 {
                background: transparent !important;
            }
        }
    }

    .avatar__75742>* {
        border-radius: var(--radius-xxl);
        backdrop-filter: blur(20px);
    }

    .mask__68edb {
        mask: none;
        overflow: visible;
        contain: none;

        >foreignObject {
            mask: none;
            overflow: visible;
            contain: none;
        }
    }

    .bannerButton_fb7f94 {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25), inset 0px 1px 1px 0.25px rgba(255, 255, 255, 0.25);
        border: 0px;
    }

    .container_a99829>.themedBackground__74017 {
        background: linear-gradient(to top,
                var(--profile-gradient-primary-color, var(--background-base-lower)),
                color-mix(in oklab, var(--profile-gradient-primary-color, var(--background-base-lower)), black 5%)) !important;
        box-shadow:
            0px 0px 1px 1px inset var(--border-faint),
            0px 2.5px 7.5px 0px inset var(--profile-gradient-secondary-color, var(--_aider-border-dark));
        border-radius: var(--radius-xs);
    }
}


@container style(--aider-banner-slant: true) {
    .outer_c0bea0.user-profile-popout {

        .mask__68edb {
            position: absolute;
            z-index: -1;
            top: calc(0px - var(--custom-user-profile-banner-height) * 0.95 + 10px);
            scale: 0.95;
            transform-origin: top center;

            >foreignObject {
                perspective: 400px;

                .banner__68edb {
                    transform-origin: bottom center;
                    transform: rotateX(-10deg);
                    box-shadow: inset 0px -80px 30px -30px rgba(0, 0, 0, 0.5), inset 0px 1px 1px 0.25px rgba(255, 255, 255, 0.25);
                    transition: transform 2s linear(0, 0.029 0.8%, 0.13 1.8%, 0.908 7.2%, 1.051 9.1%, 1.112 11.2%, 1.116 12.2%, 1.106 13.4%, 1.007 19.5%, 0.987 23.1%, 1.001 35%, 1);

                    @starting-style {
                        transform: rotateX(30deg);
                    }
                }
            }
        }

        .wrapper__0c74f {
            position: absolute;
            top: calc(0px - var(--custom-user-profile-banner-height) * 0.95 + 10px + var(--space-xs));
        }

        .header__5be3e {
            display: contents;
        }


        .avatar__75742 {
            top: -45px !important;
            z-index: 1;
        }

        .displayNameRow__26b1f {
            position: absolute;
            bottom: calc(100% + var(--space-xs));
            margin-left: calc(80px + var(--space-xxs));
        }

        .usernameAndPronounsRow__26b1f {
            margin-left: calc(80px + var(--space-xxs));
            margin-bottom: var(--space-xxs);
        }

        .body__5be3e {
            margin-top: 0px !important;
        }

        .wrapper__da5890 {
            position: absolute;
            top: calc(0px - var(--custom-user-profile-banner-height) * 0.95 + var(--space-md));
        }
    }

    .outer_c0bea0.user-profile-modal-v2 {
        --custom-user-profile-banner-height: 240px;
        margin-top: var(--custom-user-profile-banner-height);

        .mask__68edb {
            position: absolute;
            z-index: -1;
            top: calc(0px - var(--custom-user-profile-banner-height) * 0.95 - 10px);
            scale: 0.95;
            transform-origin: top center;
            contain: none;
            overflow: visible;

            >foreignObject {
                mask: none;
                overflow: visible;
                perspective: 800px;

                .banner__68edb {
                    transform-origin: bottom center;
                    transform: rotateX(-10deg);
                    box-shadow: inset 0px -160px 60px -60px rgba(0, 0, 0, 0.5), inset 0px 1px 1px 0.25px rgba(255, 255, 255, 0.25);
                    transition: transform 2s linear(0, 0.029 0.8%, 0.13 1.8%, 0.908 7.2%, 1.051 9.1%, 1.112 11.2%, 1.116 12.2%, 1.106 13.4%, 1.007 19.5%, 0.987 23.1%, 1.001 35%, 1);

                    @starting-style {
                        transform: rotateX(30deg);
                    }
                }
            }
        }

        .profileHeader__9c3be {
            display: contents;
        }


        .avatar__75742 {
            top: -120px !important;
            z-index: 1;
        }

        .displayNameRow__26b1f {
            position: absolute;
            bottom: calc(100% + var(--space-xs) + 40px);
            margin-left: calc(100px + var(--space-xxs));
            width: max-content;
        }

        .usernameAndPronounsRow__26b1f {
            position: absolute;
            margin-left: calc(100px + var(--space-xxs));
            bottom: calc(100% + var(--space-xs) + 40px - 1.5rem);
            width: max-content;
        }

        .profileButtons__9c3be {
            position: absolute;
            bottom: calc(100% + var(--space-xs) + 40px - 1rem);
            right: calc(-400px);
        }

        .body__5be3e {
            margin-top: 0px !important;
        }

        .profileBody__9c3be {
            overflow: visible !important;
        }
    }
}

.layoutContainer__9c3be {
    justify-content: center;
}

.outer_c0bea0.user-profile-modal-v2 {
    overflow: visible;
    width: 100vw;
    height: 100vh;
    background: transparent !important;
    padding: var(--space-xxl) var(--space-xxl) 0;
    pointer-events: none;
    align-items: center;
    border: 0px;

    .inner_c0bea0 {
        pointer-events: all;
        width: 100%;
        max-width: 1000px;
        padding: 0px;
        margin: var(--custom-modal-v2-padding);


        >.scrim__1d703,
        .backgroundImage__9c3be {
            display: none;
        }

        .profile__9c3be {
            display: contents;
        }

        .profileBody__9c3be {
            background: var(--background-surface-high);
            border-radius: var(--radius-lg) var(--radius-lg) 0 0;
            box-shadow: var(--shadow-medium);
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            outline: 1px solid var(--border-muted);
            position: relative;
        }

        .container_ab8609,
        .referenceContainer_ab8609 {
            position: absolute;
            top: calc(-180px);
            left: -20px;
            z-index: 1;

            .outer_ab8609 {
                position: relative;

                &::before {
                    top: 100%;
                    bottom: -10px;
                    left: 5px;
                }

                &::after {
                    top: 100%;
                    bottom: -24px;
                    left: 20px;
                }
            }
        }


        &.custom-user-profile-theme .profileBody__9c3be {
            --profile-gradient-start:
                color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-primary-color));
            --profile-gradient-end:
                color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-secondary-color));
            background: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-primary-color) var(--custom-user-profile-banner-height), var(--profile-gradient-secondary-color));
        }
    }

    .profileAppConnections__9c3be {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: var(--space-xs);

        .connection__9bfb9 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--_aider-connection-accent);
        }

        .connection__9bfb9:has(>.platformIconContainer__9bfb9>img[src="/assets/8a42ef6bc4dd4e0d.png"]) {
            --_aider-connection-accent: #0186ff;
        }

        .connection__9bfb9:has(>.platformIconContainer__9bfb9>img[src="/assets/8d54a5919eb645f9.png"]) {
            --_aider-connection-accent: #fafafa;
        }

        .connection__9bfb9:has(>.platformIconContainer__9bfb9>img[src="/assets/1cc92a6d139af44d.png"]) {
            --_aider-connection-accent: #fafafa;
        }

    }
}

.container__37bfc {
    background: var(--background-surface-highest);
    z-index: 300;
    width: fit-content;
    min-width: 400px;
    max-width: 500px;
    margin-top: -4px;

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
        content: "";
        position: absolute;
        inset: -1px;
        width: 100%;
        height: 100%;
        box-shadow:
            inset 0px 3px 3px -2px rgba(255, 255, 255, 0.125),
            inset 0px 0px 0px 1px rgba(255, 255, 255, 0.0625),
            inset 0px 24px 12px -12px rgba(255, 255, 255, 0.0625),
            inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
    }

    .tabPanelScroller__37bfc {
        padding-bottom: 400px;
    }
}

&.custom-theme-background {
    .container__37bfc {
        background: linear-gradient(hsl(from var(--profile-gradient-button-color) h (s - 15%) (l - 20%) / 1), hsl(from var(--profile-gradient-button-color) h (s - 30%) (l - 15%) / 1));
    }
}

#user-profile-editing-panel {
    position: absolute;
    left: 200px;
    bottom: -40px;
}

div>.container__9c314 {
    position: absolute;
    top: -85px;
    left: 128px;

    &.compact__9c314 {
        position: relative;
        inset: 0;
    }
}

.profileHeaderBannerContainer__9c3be {
    overflow: visible;
    .mask__68edb {
        min-width: 100%!important;
        left: 50%!important;
        transform-origin: top left!important;
        scale: 2.25!important;
        margin-left: 30px;
    }
}*/
