.sidebarList__5e434 {
    background: var(--_aider-gradient-subtitle) !important;
    border-radius: var(--radius-lg) var(--radius-sm) var(--radius-sm) var(--radius-sm);
    border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
    box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
}

.container__2637a[aria-label="Blade0's Index (server)"]::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    background: url(https://blade04208.github.io/site/src/jump.png);
    background-size: cover;
    background-position: center;
    mask-image: radial-gradient(circle at 0% 0%, black, transparent 80%);
    opacity: 1;
}

.privateChannels_e6b769,
.scroller__99e7c,
.container__2637a {
    background: transparent;
}

.searchBar_e6b769 {
    display: flex;

    height: 46px;
    padding: 0px;

    .button_a22cb0 {
        min-height: 46px;
        padding: var(--space-xs) var(--space-xs);
        background: transparent !important;
        box-shadow: none;
        border: none;
        flex-direction: column;
        justify-content: start;
        overflow: hidden;

        &::before {
            content: "Find or start a conversation";
            color: var(--text-default);
            font-size: 1rem;
            font-weight: 400;
            position: absolute;
            top: -1rem;
            opacity: 0;
            filter: blur(5px);
            transition: all 0.4s ease;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - var(--space-xs) * 2);
        }

        &::after {
            content: "Direct Messages";
            color: var(--text-default);
            font-size: 18px;
            font-weight: 500;
            position: absolute;
            top: 14px;
            transition: all 0.4s ease;
        }

        .buttonChildrenWrapper_a22cb0 {
            display: none;
        }

        &:hover {
            filter: brightness(1.1);
            backdrop-filter: brightness(1.1);

            &::before {
                opacity: 1;
                filter: blur(0px);
                top: 16px;
            }

            &::after {
                opacity: 0;
                top: 50px;
                filter: blur(5px);
            }
        }
    }
}

.container_f37cb1[data-has-banner="true"] .header_f37cb1 {
    overflow: visible;


}

.header_f37cb1 {
    padding: 0px;
    overflow: hidden;
    border-bottom: 1px solid var(--border-subtle);

    .headerContent_f37cb1 {
        height: 100%;

        >span {
            display: none;
        }
    }

    .guildDropdown_f37cb1 {
        width: 100%;
        height: 100%;
        border-radius: 0px;

        .guildIconV2Container__85d16 {
            position: absolute;
            scale: 3;
            bottom: 8px;
            right: 12px;
            transform: rotate(-15deg);
            z-index: 10;
            opacity: 0.5;
            mask-image: linear-gradient(to top, black, transparent);
        }

        .headerChildren_f37cb1 {
            position: absolute;
            right: var(--space-xs);
        }

        .name_f37cb1 {
            font-size: 18px;
            font-weight: 500;
            margin: 0px auto;
        }
    }

    .inviteButton_f37cb1 {
        display: none;
    }
}


.scroller__629e4 {
    padding-inline-end: 0px !important;
    padding: 0px !important;
    margin: 0px !important;

    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
    }

    .wrapper__2ea32 {
        padding: 0px;
        margin: 0px;

        .link__2ea32 {
            padding-left: calc(var(--space-sm) * 1.25);
        }
    }
}

/* Guilds -------------- */
.wrapper_cc5dd2 {
    overflow: hidden;
    contain: strict;
    border-radius: 0px;
}
.shiftSVG_cc5dd2 {
    contain: none;
    overflow: visible;

    >foreignObject {
        mask: none;
        contain: none;
        overflow: visible;

        /*.wrapper__6e9f8::after {
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;

            border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
            box-shadow:
                inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25),
                inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125),
                inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
            font-weight: 450;
            color: white;
        }*/
    }
}

.icon__6e9f8 {
    border-radius: var(--radius-xxl);
}

.folderGroupBackground__48112 {
    border-radius: var(--radius-md);
}

.folderPreviewWrapper__48112,
.folderPreviewGuildIcon__48112 {
    border-radius: var(--radius-md) !important;
}

.folderButton__48112>.wrapper_cc5dd2 {
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow:
            inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25),
            inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125);
        font-weight: 450;
        color: white;
        border-radius: var(--radius-md);
    }
}

.svg_cc5dd2>foreignObject {
    mask: none;
}

.wrapper__58105 {
    overflow: visible;
    pointer-events: none;

    .item__58105 {
        scale: 0.8;
        left: 6px;
        transform: scaleX(0.4) !important;
        border-radius: 8px;
        box-shadow: 12px 0px 20px 0.5px white;
    }
}

.unread__2ea32,
.unreadPill__972a0 {
    scale: 0.8;
    /* left: -5px; */
    margin: -4px 0px 0px 12px;
    transform: scaleX(0.7) !important;
    border-radius: 8px;
    box-shadow: 7px 0px 14px 0.5px white;
}

.numberBadge__463b7,
.unreadMentionsBar_ef3116,
.mentionsBar__7aaec {
    border: 1px solid var(--red-700);
    box-shadow:
        inset 0px 0px 0px 1px var(--red-360),
        0px 0px 7px -1px var(--red-500);
    box-sizing: content-box;
    background: linear-gradient(to bottom, var(--red-400), var(--red-500));
    border-radius: 20px;

    &.numberBadge__463b7 {
        padding: 0.3px !important;
    }
}

/* Userpanel ------------------------------------ */
.panels__5e434 {
    border-radius: var(--radius-md) var(--radius-md) 0 0 !important;
    border: 0 !important;
    border-top: 1px solid var(--_aider-border-dark) !important;
    box-shadow: inset 0px 1px 0px 0px var(--border-subtle);
    bottom: 0px;
    left: 0px;
    width: calc(100% - 2px);
    overflow: hidden;

    .container__37e49 {
        flex-direction: column;
        container-type: normal;
        height: auto;
        align-items: start;
        padding: 4px;
        gap: 4px;

        .accountPopoutButtonWrapper__37e49 {
            padding: var(--space-xs) calc(var(--space-xs) * 1.25);
            width: calc(100% + var(--space-xs));
            box-sizing: border-box;
        }

        .buttons__37e49 {
            /* margin: 0 var(--space-xxs) var(--space-xxs); */
            gap: 0px;
            width: calc(100%);

            .button__67645 {
                flex: 1;
                border-radius: var(--radius-xs);
                background: linear-gradient(to bottom,
                        color-mix(in oklab, var(--background-base-lower), white 5%),
                        var(--background-base-lower) calc(var(--custom-channel-header-height) / 2)) !important;
                border: 1px solid color-mix(in srgb,
                        var(--background-base-lowest),
                        transparent);
                box-shadow: 0px 0px 1px 1px inset var(--border-subtle);
                transition: all 0.3s ease;

                &.redGlow__67645 {
                    background: linear-gradient(to bottom,
                            color-mix(in oklab,
                                var(--background-base-lower),
                                var(--red-400) 35%),
                            color-mix(in oklab,
                                var(--background-base-lower),
                                var(--red-600) 35%) calc(var(--custom-channel-header-height) / 2)) !important;
                    border: 1px solid color-mix(in srgb, var(--red-800), transparent);
                    box-shadow:
                        0px 0px 1px 1px inset color-mix(in srgb, var(--red-300), transparent 80%),
                        0px -4px 10px -2px color-mix(in srgb, var(--red-500), transparent 60%),
                        0px -5px 10px -7px color-mix(in srgb, var(--red-360), transparent 60%);
                }

                &:hover {
                    filter: brightness(1.4);
                }

                &:active {
                    transform: translateY(1px);
                    filter: brightness(0.95);
                }
            }

            .buttonChevron__5e764 {
                flex: 0 !important;
            }

            .audioButtonParent__5e764 {
                flex: 1;
                margin-right: 1px;
            }
        }
    }
}

.theme-light {
    .panels__5e434 {
        .container__37e49 {
            .buttons__37e49 {
                .button__67645 {
                    background: linear-gradient(to bottom,
                            color-mix(in oklab,
                                var(--background-base-lower),
                                black 3.5%),
                            var(--background-base-lower) calc(var(--custom-channel-header-height) / 2)) !important;
                    border: 1px solid var(--_aider-border-dark);

                    &.redGlow__67645 {
                        background: linear-gradient(to bottom,
                                color-mix(in oklab,
                                    var(--background-base-lower),
                                    var(--red-400) 35%),
                                color-mix(in oklab,
                                    var(--background-base-lower),
                                    var(--red-600) 35%) calc(var(--custom-channel-header-height) / 2)) !important;
                        border: 1px solid color-mix(in srgb, var(--red-500), transparent);
                        box-shadow:
                            0px 0px 1px 1px inset color-mix(in srgb,
                                var(--red-100),
                                transparent 80%),
                            0px -4px 10px -2px color-mix(in srgb,
                                var(--red-300),
                                transparent 60%),
                            0px -5px 10px -7px color-mix(in srgb,
                                var(--red-360),
                                transparent 60%);
                    }
                }
            }
        }
    }
}

/* Avatars -------------- */
.wrapper__44b0c {
    overflow: hidden;
    contain: strict;
    border-radius: 0px;
}
.mask__44b0c {
    overflow: visible;
    contain: none;

    >foreignObject {
        mask: none;
        overflow: visible;
        contain: none;

        &::after {
            content: "";
            position: absolute;
            inset: -1px;
            width: 100%;
            height: 100%;

            border: 1px solid var(--_aider-border-dark, rgba(0, 0, 0, 0.5));
            box-shadow:
                inset 0px 3px 3px -2px rgba(255, 255, 255, 0.25),
                inset 0px 24px 12px -12px rgba(255, 255, 255, 0.125),
                inset 0px -3px 3px -2px rgba(0, 0, 0, 0.25);
            font-weight: 450;
            color: white;
            border-radius: var(--radius-xxl);
        }

        .avatar__44b0c {
            border-radius: var(--radius-xxl);
        }
    }

    >g>rect {
        position: absolute;
    }
}

.link__972a0,
.userInfo__0a06e,
.memberInner__5d473,
.inner_c0bea0 {

    &:has(.svg__44b0c rect[fill="#45a366"],
        .status_a423bd[style="background-color: rgb(67, 162, 90);"]) {

        .name__20a53,
        .username__5d473,
        .usernameRow__63ed3 div.defaultColor__4bd52 {
            &::before {
                content: "";
                background: url(https://blade04208.github.io/aider/assets/status/online.png);
            }
        }
    }

    &:has(.svg__44b0c rect[fill="#da3e44"]) {

        .name__20a53,
        .username__5d473,
        .usernameRow__63ed3 div.defaultColor__4bd52,
        .info_f4bc97 {
            &::before {
                content: "";
                background: url(https://blade04208.github.io/aider/assets/status/dnd.png);
            }
        }
    }

    &:has(.svg__44b0c rect[fill="#84858d"]) {

        .name__20a53,
        .username__5d473,
        .usernameRow__63ed3 div.defaultColor__4bd52,
        .info_f4bc97 {
            &::before {
                /*offline*/
                content: "";
                background: url(https://blade04208.github.io/aider/assets/status/offline.png);
            }
        }
    }

    &:has(.svg__44b0c rect[fill="#ffc04e"]) {

        .name__20a53,
        .username__5d473,
        .usernameRow__63ed3 div.defaultColor__4bd52,
        .info_f4bc97 {
            &::before {
                content: "";
                background: url(https://blade04208.github.io/aider/assets/status/idle.png);
            }
        }
    }
}

.svg__44b0c rect {
    display: none;
}

.name__20a53,
.username__5d473,
.usernameRow__63ed3 div.defaultColor__4bd52,
.info_f4bc97 {
    &::before {
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 4px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }
}

.mask__44b0c {
    >foreignObject {
        mask: none;
    }

    /* rect {
        visibility: hidden;
    } */
}

.name__20a53 {
    display: flex;
    /* width: 100%; */
    align-items: center;

    .overflow_b0dfc2 {
        flex: 0 9999 auto;
    }
}

svg:not(.avatarDecoration__44b0c) .avatarStack__44b0c,
.wrapper__6e9f8 {
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(173.7% 64.13% at 50% 0%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.00) 50%);
        box-shadow: 0 3px 1px -2px rgba(255, 255, 255, 0.25) inset, 0 1px 0 0 rgba(255, 255, 255, 0.10);
        opacity: 0.75;
        border-radius: var(--radius-xxl);
    }
}

.sidebar__5e434::after {
    display: none;
}

/* channel selected */

.selectedChannel_c69b6d {
    .link__2ea32 {
        background: color-mix(in oklab,
                transparent 95%,
                var(--brand-500)) !important;
        box-shadow: 0px -20px 20px -5px inset color-mix(in oklab, transparent 87.5%, var(--brand-500));

        >.linkTop__2ea32>* {
            filter: drop-shadow(0px 0px 5px var(--brand-700)) drop-shadow(0px 0px 1px var(--brand-800));
        }
    }
}

.theme-light {
    .selectedChannel_c69b6d {
        .link__2ea32 {
            background: color-mix(in oklab,
                    transparent 95%,
                    var(--brand-500)) !important;
            box-shadow: 0px -20px 20px -5px inset color-mix(in oklab, transparent 87.5%, var(--brand-500));

            >.linkTop__2ea32>* {
                filter: drop-shadow(0px 0px 5px var(--brand-200)) drop-shadow(0px 0px 1px var(--brand-100));
            }
        }
    }
}

.container__5b40b {
    .link__2ea32 {
        padding-left: 40px !important;
    }
}

.dm__972a0 {
    margin: 0px !important;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    border-radius: 0px;

    .unreadPill__972a0 {
        left: 0px;
    }
}

.containerDefault_c69b6d {
    margin: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    border-radius: 0px;

    &:hover {
        backdrop-filter: rgba(255, 255, 255, 0.1);
    }

    .link__2ea32 {
        background: transparent !important;
    }

    .unreadPill__972a0 {
        left: 0px;
    }
}
